fastapi
uvicorn
pydantic
python-dotenv
langchain
langchain-openai
langchain-community
langchain-core
langchain-anthropic
langgraph
faiss-cpu==1.13.0
anthropic
openai
httpx
requests
numpy
huggingface_hub
